.fullPage{
  height: 100%;
  width: 100%;
  background-color: #f2f2f2
}

body{
  background-image: url('../../planning/OC1Y8T0.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.component-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set a minimum height to make sure the footer stays at the bottom */

}

.component-container {
  flex-grow: 1; /* Expand and fill the available vertical space */
  padding: 20px; /* Adjust the padding to add spacing around the components */
}

/* Apply any additional styles to the components */
.component-container > * {
  margin-bottom: 20px; /* Add vertical spacing between the components */
}

/* Apply any styles to the footer */
footer {
  padding: 20px; /* Add padding to the footer for spacing */
}


.bgColor {
  background-color: #f2f2f2;
}

.parentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.availableCars{
background-color:#EBEDEF  ;
}

.registeredCars{
  background-color: #EBEDEF
}

.header{
  height: 60px;
  width: 100%;
  background-color: #EBEDEF;
  display: flex;
 justify-content: space-around;
 flex-direction: row;
 border: 1px solid #999;
 border-radius: 10px;
 margin-right: 10px;
}

.footer{
  height: 100px;
  width: 95%;
  background-color: #EBEDEF;
  border: 1px solid #999;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;

}

.reserve a {
  text-decoration: none;
  color: black;
}

.availableCars, .registeredCars {
  height: 450px;
  width: 80%;
  margin: 0 auto; /* this will center the divs horizontally */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;

}

.title {
  flex-grow: 1;
  text-align: center;
}

.availableTitle, .totalTitle{
 text-align: center;
 color: #ff4411;
 font-size: 30px;
 font-family: 'Signika',
 sans-serif; padding-bottom:
 10px;
 font-weight: bold;
}


.headerSection{
  margin: 0 10px;
 height: 100px;
 width: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.buttons{
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* margin-top: auto; */
  height: 60px;
}

.registerButton, .loginButton {

  text-decoration: none;
  font-weight: bold;
  background-color: red;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}





.carItem {
  flex-basis: calc(25% - 10px);
  background-color: #f0f0f0;
  border: 1px solid #999;
  /* text-align: center; */
  height: 200px;
  border-radius: 10px;
  display: flex;

  align-items: center;
  flex-direction: column;

}

.carImage {
  height: 170px;
  width: 100%;
  border-radius: 1px;
  border: 1px solid #000;
}


.carName{
  text-decoration: underline;
}

.carArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  flex-basis: calc(25% - 10px);
  background-color: #f0f0f0;
  border: 1px solid #999;
  width: 100%;
}

.seeMore {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 25px;
  width: 100px;

}


.footerSection {
  margin: 10px;
  text-align: center;
}

.socialMediaLinks {
  list-style-type: none;
  padding: 0;
}

.socialMediaLinks li {
  display: inline-block;
  margin: 0 5px;
}

.socialMediaLinks a {
  text-decoration: none;
  color: #000;
}

.footerSection a {
  text-decoration: none;
  color: #000;
}

.aboutUs{
  margin-top: 26px;
  display: flex;
  flex-direction:column ;
  /* justify-content: center; */
  align-items: center;
}

.headerSection .registerLink a {
  text-decoration: none;
  font-weight: bold;
  background-color: red;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.title{
  color: #ff4411;
  font-size: 17px;
  font-family: 'Signika',
  sans-serif; padding-bottom:
  10px;
}

.reportButton{
margin: 10px;
}