.availableSeemore{

  display:flex ;
flex-direction: row;
}


.availableCarsmore{
  height: 800px;
  width: 80%;
  margin: 0 auto; /* this will center the divs horizontally */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;

}

.Selectors{
  width: 50 px;
  height: 80px;
  background-color: black;
  border: 1px solid black;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.TotalCarsmore{
  background-color: #EBEDEF
}

.availableTitleSeemore{
  text-align: center;
  color: #4d4276;
  font-size: 30px;
  width: 700px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebedef;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.carImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

